.container h1{
    padding: 10% 20%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.background {
    background-image: url("Slike/pizza_background.jpg");
}

.text{
    color: aliceblue;
}

header {
    display: block;
    text-align: center;
    background-image: url(/Slike/cartoonDogs.jpg);
    color: white;
   }

h2 {
    font-family:'Lucida Sans';
    margin-left: 5%; 
    margin-bottom: 3%; 
    margin-top: 5%; 
    color: black;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h1 {
    font-family:'Lucida Sans';
    margin-left: 5%; 
    margin-bottom: 3%; 
    margin-top: 5%; 
    color: coral;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h3 {
    font-family:'Lucida Sans';
    margin-left: 5%; 
    margin-bottom: 3%; 
    margin-top: 5%; 
    color: coral;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

p {
    font-family:'Lucida Sans';
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

#forma {
    margin: 5%;
    padding: 5%; 
    background-color:  rgb(241, 249, 252); 
    border-radius: 15px;
}


.carousel-inner img {
    width: 100%;
    margin: auto;
  }


@media (min-width: 800px) {
    p {
        font-size: 20px;
    }
}

.img-pasi {
    width: 100%;
    height: auto;
}

img {
    object-fit: contain;
}

.form-css {
    background-color: rgb(231, 243, 247);
    padding: 2%;
}
 #customRange{
     cursor: pointer;
 }

#forma2{
    margin: 5%;
    padding: 5%; 
    background-color: rgb(241, 249, 252); 
    border-radius: 15px;
}
#forma3{
    margin: 5%;
    padding: 5%; 
    background-color:rgb(241, 249, 252); 
    border-radius: 15px;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #70c3fa;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgb(124, 154, 199), rgb(132, 192, 223));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right,  rgb(181, 216, 235), rgb(106, 139, 155))
  }

img {
    float: left;
    height: 400px;
    object-fit: cover;
}

.karte {
    height: auto;
    background-color:rgb(226, 241, 255);
}


.tekst {
    color: white;
}

#loading{
    width: 80%; 
    height: 80%;
}

@media (min-width: 350px) {
    h1 {
        font-size: 60px;
    }
}

@media (min-width: 600px) {
    .karte {
        height: 650px;
        margin: 3%;
    }

    img {
        float: left;
        height: 500px;
        object-fit: cover;
    }
    h1 {
        font-size: 80px;
    }
}

@media (min-width: 1550px) {
    .karte {
        height: 650px;
        margin: 8%;
    }

    img {
        float: left;
        height: 500px;
        object-fit: cover;
    }
}

@media (min-width: 1100px) {
    h1 {
        font-size: 100px;
    }
}